.Container {
    width: 100vw;
    height: 100vh;
}

.content-box {
    width: 1100px;
    height: 800px;
    background-color: lightgray;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
}

.users-btn {
    width: 200px;
    height: 250px;

    border-radius: 10px;
    margin-top: 50px;
    margin-left: 30px;
}

.btn {
    margin-top: 2px;
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;

}

.highlight-user-button{
    margin-top: 2px;
    background-color: #6e6e6e;
    color: white;
    width: 200px;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}




#user1-btn {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#user6-btn {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.heading-btn {
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 800px;
    height: 50px;
    gap: 1px;
}


.btn2 {
    width: 130px;
    height: 50px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}

#info-btn1 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#info-btn6 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.detail-container {
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    display: none;
}

.highlight{
    background-color: #6e6e6e;
}

.detail-container.active {
    display: flex;
    background-color: white;
}


.contact-info {
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    display: none;

}

.contact-info.active {
    display: flex;
    background-color: white;
}

.profile-info{
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    display: none;
}

.profile-info.active{
    display: flex;
    background-color: white;
}

.address-info{
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    display: none;
}

.address-info.active{
    display: flex;
    background-color: white;
}

.personal-info{
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    display: none;
}

.personal-info.active{
    display: flex;
    background-color: white;
}

.account-info{
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    display: none;
}

.account-info.active{
    display: flex;
    background-color: white;
}




.heading-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;


}

.info-container-user1 {
    margin-left: 25px;
    max-width: 750px;
}


.btn.current-btn {
    background-color: gray;
    border-radius: 10px;
}

.list-item {
    display: flex;
    gap: 190px;

}

.list {
    color: red;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    display: flex;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #7f0707;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.container-img {
    position: relative;
    display: inline-block;
  }
  
  .left, .right {
    position: absolute;
    width: 50px;
    top: 0;
    bottom: 0;
    background: white;
    opacity: 0.5;
  }
  
  .right {
    right: 0;
  }

